:root {
  .dark {
    --color-primary: #1ce496;

    --color-text-primary: #f4fffb;
    --color-text-secondary: #999999;

    --color-background: #141414;
    --color-surface: #3d3d3d;
  }

  .light {
    --color-primary: #1ce496;

    --color-text-primary: #161617;
    --color-text-secondary: #999999;

    --color-background: #fafafa;
    --color-surface: #ebedef;
  }
}
