:root {
  /* Font sizes */
  --font-size-xs: 0.8rem;
  --font-size-s: 1rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5625rem;
  --font-size-xl: 2.015625rem;
  --font-size-2xl: 2.44125rem;
  --font-size-3xl: 3.051875rem;
  --font-size-4xl: 3.815rem;

  /* Line-heights */
  --line-height-xs: 130%;
  --line-height-s: 160%;
}
